@value color-full-white from '../colors.css';

.account-container {
  display: flex;
  align-items: center;
}

.account-name {
  color: color-full-white;
  display: flex;
}

.account-icon {
  display: flex;
}
